.product__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.product__container-search_bar {
    /* border: 1px solid red; */
    height: 100px;
    padding: 10px;

    margin-bottom: 5rem;
}

.product__container-heading {
    padding-left: 20px;
}

.product__container-result_output {
    display: flex;
    flex-direction: row;
}

.product__container-search_result {
    padding-top: 40px;
    background-color: rgb(79, 119, 192);
    color: white;
    flex: 1;
    /* width: 250px; */
    padding-left: 20px;
}

details summary {
    padding: 25px 0;
}

.product__container-product_cards {
    flex: 4;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}